In [5]:
using Plots, CSV, DataFrames, Serialization
include("draftpolicy.jl")

calculate_draft_rule (generic function with 8 methods)

Table X on 1987 final standings and lottery probabilities:

In [42]:
CSV.read(string("results/run2/record",1987,".csv"))

23×4 DataFrame
│ Row │ id     │ team                   │ wins   │ score       │
│     │ Int64⍰ │ Union{Missing, String} │ Int64⍰ │ Float64⍰    │
├─────┼────────┼────────────────────────┼────────┼─────────────┤
│ 1   │ 11     │ Los Angeles Clippers   │ 12     │ 0.589623    │
│ 2   │ 14     │ New Jersey Nets        │ 24     │ 0.050999    │
│ 3   │ 15     │ New York Knicks        │ 24     │ 0.0651072   │
│ 4   │ 20     │ San Antonio Spurs      │ 28     │ 0.173864    │
│ 5   │ 19     │ Sacramento Kings       │ 29     │ 0.0741297   │
│ 6   │ 4      │ Cleveland Cavaliers    │ 31     │ 0.00917567  │
│ 7   │ 17     │ Phoenix Suns           │ 36     │ 0.00694883  │
│ 8   │ 6      │ Denver Nuggets         │ 37     │ 0.0181463   │
│ 9   │ 21     │ Seattle SuperSonics    │ 39     │ 0.0008725   │
│ 10  │ 3      │ Chicago Bulls          │ 40     │ 0.00047     │
│ 11  │ 10     │ Indiana Pacers         │ 41     │ 0.000417    │
│ 12  │ 8      │ Golden State Warriors  │ 42     │ 0.0001675   │
│ 13  │ 9      │ Houston Rockets        │ 42     │ 0.00772933  │
│ 14  │ 23     │ Washington Bullets     │ 42     │ 0.0020435   │
│ 15  │ 22     │ Utah Jazz              │ 44     │ 0.000115    │
│ 16  │ 16     │ Philadelphia 76ers     │ 45     │ 0.000117333 │
│ 17  │ 18     │ Portland Trail Blazers │ 49     │ 4.91667e-5  │
│ 18  │ 13     │ Milwaukee Bucks        │ 50     │ 0.0         │
│ 19  │ 7      │ Detroit Pistons        │ 52     │ 2.5e-5      │
│ 20  │ 5      │ Dallas Mavericks       │ 55     │ 0.0         │
│ 21  │ 1      │ Atlanta Hawks          │ 57     │ 0.0         │
│ 22  │ 2      │ Boston Celtics         │ 59     │ 0.0         │
│ 23  │ 12     │ Los Angeles Lakers     │ 65     │ 0.0         │

### 1987 Figures

In [13]:
record = deserialize(string("results/run2/object",1987,".jb"))
bottom3 = [11,14,15]
prob = record.draft_prob[bottom3,:]
wins = record.cwins[bottom3,:]
stoptime=record.stop
plot(transpose(wins[:,1:(stoptime+50)]),label=["Clippers","Nets","Knicks","Stopping Time"],
    size=(800,250),
    linewidth=4,legend=:topleft,ylabel="Cumulative Wins")
vline!([stoptime],color="black",label=["Clippers","Nets","Knicks","Stopping Time"])
savefig("wins87.pdf")

In [12]:
plot(transpose(prob[:,1:(stoptime+50)]),label=["Clippers","Nets","Knicks","Stopping Time"],
    size=(800,250), ylabel="Draft Probability", 
    #ylims=(0.05,0.3),
    linewidth=4,legend=:topleft,xlabel="Game")
vline!([stoptime],color="black",label=["Clippers","Nets","Knicks","Stopping Time"])
savefig("prob87.pdf")

## Supplementary Analyses

1. Create table that combines results from 1985 to 1989 and prints stopping times.

In [17]:
years = [1985,1986,1987,1988,1989]

results = DataFrame(ranking=1:8)

results
for i in 1:length(years)
    yr = years[i] 
    record = deserialize(string("results/run2/object",yr,".jb"))
    standings = CSV.read(string("results/run2/record",yr,".csv"))
    results[Symbol(string("score_",yr))] = standings[:score][1:8].*100
    results[Symbol(string("score_",yr))][8] = sum(standings[:score][8:length(standings[:score])])*100
    println(size(record.draft_prob))
    println(record.stop)
end

(23, 944)
527
(23, 944)
435
(23, 944)
371
(23, 944)
465
(25, 1026)
353

Average stopping time:

In [46]:
((527/944)+435/944+371/944+465/944+353/1026)/5

0.4497431195691678

In [14]:
58.96+5.1+6.5+17.4+7.4+0.92+0.695

96.97500000000001

In [18]:
results

8×6 DataFrame. Omitted printing of 1 columns
│ Row │ ranking │ score_1985 │ score_1986 │ score_1987 │ score_1988 │
│     │ Int64   │ Float64    │ Float64    │ Float64    │ Float64    │
├─────┼─────────┼────────────┼────────────┼────────────┼────────────┤
│ 1   │ 1       │ 58.0436    │ 7.34587    │ 58.9623    │ 22.1537    │
│ 2   │ 2       │ 9.88972    │ 29.1468    │ 5.0999     │ 39.4561    │
│ 3   │ 3       │ 4.07849    │ 1.63031    │ 6.51072    │ 22.4004    │
│ 4   │ 4       │ 7.81534    │ 4.10456    │ 17.3864    │ 8.93705    │
│ 5   │ 5       │ 0.817402   │ 18.6521    │ 7.41297    │ 3.03347    │
│ 6   │ 6       │ 0.314419   │ 3.34928    │ 0.917567   │ 0.252533   │
│ 7   │ 7       │ 0.56921    │ 18.8862    │ 0.694883   │ 0.0395333  │
│ 8   │ 8       │ 18.4719    │ 16.8849    │ 3.01527    │ 3.72722    │

1. Average Probability Lowest Ranked Team Wins Lottery

In [43]:
sum(results[1,:][2:length(results[1,:])])/5

38.59012571428612

2. Average Stopping Team